#corona-header{
	background: #57a0dc;
	padding-top: 50px;
}
#corona-header .container-fluid .col-xs-12{
	padding: 0;
}
#corona-header .container-fluid img{
	max-width: 100%;
}
#ways-fighting-corona .campaign-title{
	color: #ff7400;
	letter-spacing: 0;
	font-size: 16px;
}
#corona-landing-faqs{
	padding-bottom: 30px;
}
.bg-gray{
	background: #f6f6f6;
}
.orange-area-videos-wrapper .owl-carousel button.owl-dot{
	border: 1px solid #ff7400 !important;
}
.orange-area-videos-wrapper .owl-carousel button.owl-dot.active {
    background: #ff7400 !important;
}
#disaster-relief-stories{
	padding-bottom: 40px;
}
.color-primary{
	color: #ff7400;
}
.modal-corona-category .campaign-categories .campaign-category,
.modal-corona-location .campaign-categories .campaign-category{
	width: 100%;
	text-align: center;
	font-size: 20px;
}
.category-image-workers{
	background-image: url("../images/category-worker.svg");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}
.modal-corona-category .modal-dialog.modal-lg .modal-body,
.modal-corona-location .modal-dialog.modal-lg .modal-body{
	height: auto;
}
.corona-cat-loc-btn-fixed{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	z-index: 9;
	background: #FFF;
	box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
	text-align: center;
	display: none;
}
.corona-cat-loc-btn-fixed a{
	min-width: 134px;
	margin: 10px;
}
.sticky-corona-btn-wrapper .corona-cat-loc-btn-fixed {
	display: block;
}
#ways-fighting-corona{
	padding-bottom: 40px;
}
#ways-fighting-corona .disaster-prevention-wrapper{
	padding: 20px;
}
.section-heading .corona-campaign-btn-wrapper .btn{
	min-width: 140px;
}
.more-campaign {
	display: none;
}
#corona-campaigns .see-more-campaigns-wrapper{
	padding: 20px 0 0 0;
}
#about-initiative .campaign-title{
	color: #ff7400;
	letter-spacing: 0;
	font-size: 16px;
}
#about-initiative .disaster-prevention-wrapper{
	padding: 30px;
}
.donation-products-img img{
	height: 185px;
}
@media only screen and (max-width: 1199px) {
	.donation-products-img img{
		height: 239px;
	}
}