#corona-header{
	background: #57a0dc;
	padding-top: 50px;
}
#corona-header .container-fluid .col-xs-12{
	padding: 0;
}
#corona-header .container-fluid img{
	max-width: 100%;
}
#ways-fighting-corona .campaign-title{
	color: #ff7400;
	letter-spacing: 0;
	font-size: 16px;
}
#corona-landing-faqs{
	padding-bottom: 30px;
}
.bg-gray{
	background: #f6f6f6;
}
.orange-area-videos-wrapper .owl-carousel button.owl-dot{
	border: 1px solid #ff7400 !important;
}
.orange-area-videos-wrapper .owl-carousel button.owl-dot.active {
    background: #ff7400 !important;
}
#disaster-relief-stories{
	padding-bottom: 40px;
}
.color-primary{
	color: #ff7400;
}
.modal-corona-category .campaign-categories .campaign-category,
.modal-corona-location .campaign-categories .campaign-category{
	width: 100%;
	text-align: center;
	font-size: 20px;
}
.category-image-workers{
	background-image: url("../images/category-worker.svg");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}
.modal-corona-category .modal-dialog.modal-lg .modal-body,
.modal-corona-location .modal-dialog.modal-lg .modal-body{
	height: auto;
}
.corona-cat-loc-btn-fixed{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	z-index: 9;
	background: #FFF;
	box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
	text-align: center;
	display: none;
}
.corona-cat-loc-btn-fixed a{
	min-width: 134px;
	margin: 10px;
}
.sticky-corona-btn-wrapper .corona-cat-loc-btn-fixed {
	display: block;
}
#ways-fighting-corona{
	padding-bottom: 40px;
}
#ways-fighting-corona .disaster-prevention-wrapper{
	padding: 20px;
}
.section-heading .corona-campaign-btn-wrapper .btn{
	min-width: 140px;
}
.more-campaign {
	display: none;
}
#corona-campaigns .see-more-campaigns-wrapper{
	padding: 20px 0 0 0;
}
#about-initiative .campaign-title{
	color: #ff7400;
	letter-spacing: 0;
	font-size: 16px;
}
#about-initiative .disaster-prevention-wrapper{
	padding: 30px;
}
.donation-products-img img{
	height: 185px;
}

/* Giving Tuesdya CSS*/
.giving-tuesday-wrapper #ways-fighting-corona .donate-now-button{
	margin-top: 20px;
}
.giving-tuesday-wrapper .our-impact-wrapper .daan-utsav-stats{
	padding-top: 0px !important;
}
.giving-tuesday-wrapper .our-impact-wrapper .daan-utsav-stats{
	padding-top: 0px !important;
}
.giving-tuesday-wrapper .disaster-prevention-block{
	margin-bottom: 15px;
}
.giving-tuesday-header{
	/*padding-top: 70px !important;*/
}
.is-assocation-wrapper .image{
	padding: 30px;
}
.giving-tuesday-wrapper #ways-fighting-corona {
    padding-bottom: 0px;
}
#corona-header .container-fluid img {
    width: 100%;
}
#how-it-works-intro h4{
	font-size: 18px;
	line-height: 26px;
}
h4 .text-danger{
	color: #DD2233;
}
h4 .text-primary{
	color: #305399;
}
.showcase-sticker{
	position: relative;
}
.showcase-sticker:after{
	background-repeat: no-repeat;
	background-image: url("../images/slider-showcase-sticker.svg");
	width: 120px;
	height: 107px;
	position: absolute;
	top: 74px;
	right: 0;
	background-position: center right;
	content: "";
}
.showcase-sticker-new:after{
	display: none;
}
.is-assocation-wrapper .disaster-prevention-wrapper{
	padding: 30px;
}
.is-assocation-wrapper img{
	height: unset;
}
@media only screen and (max-width: 1199px) {
	.donation-products-img img{
		height: 239px;
	}
	.showcase-sticker:after{
		top: 70px;
	}
}
@media only screen and (max-width: 767px) {
	.showcase-sticker:after{
		top: 50px;
		background-size: 100px;
        background-position: right top;
	}
}

/* Giving Tuesday wrapper*/
.how-it-works-wrapper .disaster-prevention-wrapper {
	padding: 10px !important;
}
.how-it-works-wrapper .disaster-prevention-wrapper {
	border: 1px solid rgba(166, 173, 198, 0.5);
	border-radius: 10px;
	margin-bottom: 20px;
	max-width: 340px;
	width: 90%;
}
.how-it-works-wrapper .number-block{
	width: 30px;
	height: 30px;
	background: #ff7400;
	display: block;
	border-radius: 100%;
	color: #fff;
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
}
.how-it-works-wrapper .campaign-title {
    color: #333333 !important;
    letter-spacing: 1px !important;
	font-size: 14px !important;
	line-height: 16px !important;
	font-weight: normal !important;
}
.how-it-works-wrapper .disaster-prevention-wrapper p {
    margin-top: 10px;
}
.daan-utsav-2020-faq .container{
	margin: 0 auto;
	max-width: 800px;
}
.daan-utsav-2020-faq h3{
	display: block;
}
.giving-tuesday-wrapper-2020 #how-it-works-intro h2 {
	margin-bottom: 20px;
}