.padding-left{
    padding-left: 0px;
}
#home-page-title{
    padding: 120px 0 100px 0;
    background-image: url(../images/home-page-showcase-v2-lg.jpg);
    background-size: auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #f5f6fa;
}
#home-page-title img{
    width: 80px;
    height: 80px;
}
#home-page-title .showcase-content{
    max-width: 580px;
    float: right;
}
#home-page-title h3{
    text-transform: unset;
}
.homev2-wrapper .featured-campaigns-search-wrapper{
    margin: 80px auto;
}
/*
.testimonials-tab .testimonials-tab-wrapper .nav-tabs li{
    float: right;
    text-align: center;
    display: inline-block;
    max-width: 200px;
    width: 100%;
}*/
.testimonials-tab .testimonials-tab-wrapper .nav-tabs{
    height: 60px;
}
.testimonials-tab .testimonials-tab-wrapper .nav-tabs>li.active>a, .testimonials-tab .testimonials-tab-wrapper .nav-tabs>li.active>a:focus, .testimonials-tab .testimonials-tab-wrapper .nav-tabs>li.active>a:hover {
    background: #F67506 !important;
    color: #ffffff;
    -moz-box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    border-radius: unset;
}
.testimonials-tab .testimonials-tab-wrapper #myTabContent{
    border: 1px solid #F67506;
}
.testimonials-tab .testimonials-tab-wrapper .nav-tabs> li > a {
    background: #D6DAE9;
    border-radius: 0;
    color: #333333;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.testimonials-tab .testimonials-tab-wrapper .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border-bottom-color: transparent;
}

.testimonials-tab-wrapper .tab-content{
    padding: 50px;
}
.testimonials-tabs-wrap h3{
    margin-bottom: 50px;
}
.homev2-wrapper #featured-campaigns{
    background: #F5F6FA;
}
#why-donatekart-wrap{
    background: #F5F6FA;
}
.homev2-wrapper #testimonials{
    background: #F5F6FA;
}
#why-donatekart-wrap .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    background: #ff7400;
}
#why-donatekart-wrap .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    background: #ff7400;
}
#why-donatekart-wrap .progress {
    background-color: #FED7B6;
}
#why-donatekart-wrap .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #FED7B6;
}
.donatekart-img-wrapper img{
    width: 100px !important;
    height: 100px !important;
    width: unset !important;
    display: block !important;
    margin: 0 auto;
}
.donatekart-img-wrapper{
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 100%;
    max-width: 350px;
    height: 350px;
    background: #fdfdfd;
    width: 100%;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
    margin: 30px auto;
}
.donatekart-img-wrapper a{
    color: #333333;
    text-decoration: none;
}
.why-donatekart-wrap-carousel .owl-dots {
   
    margin: 30px auto;
}
.why-donatekart-wrap-carousel .owl-dot {

}
/* Responsive */
@media only screen and (max-width: 991px) {
    #home-page-title .showcase-content {
        max-width: 480px;
        float: right;
        text-align: center;
    }
    #home-page-title{
        background-position: top left -400px;
        padding-bottom: 0;
    }
}
@media only screen and (max-width: 767px) {
    #home-page-title{
        background-image: url(../images/home-page-showcase-v2-sm.jpg);
        padding: 60px 0 0px 0;
        background-position: center;
    }
    #home-page-title .btn {
        float: unset !important;
    }
    .testimonials-tab #myTabContent .col-xs-12{
        padding: 100px 0 50px 0;
    }
    .why-donatekart-wrap .pic-n-text {
        display: unset !important;
    }
}
@media only screen and (max-width: 480px) {
    .donatekart-img-wrapper{
        max-width: 310px;
        height: 310px;
    }
}
@media only screen and (max-width: 1199px) {
    .why-donatekart-wrap .pic-n-text {
        align-items: flex-start !important;
    }
}
.dk-india-map-wrapper svg {
    display: inline-block;
    width: 95%;
    height: 530px;
}

.dk-india-map-wrapper svg .state-path.has-content.animate_state,
.dk-india-map-wrapper svg .state-path.animate_state {
    opacity: 0.8;
    transition: opacity .2s ease-in-out;
}

.dk-india-map-wrapper svg g.animate_state {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    display: block;
}
.home-live-status{
    background: #ffffff;
    margin-bottom: 40px;
    padding: 20px;
    -moz-box-shadow: 0 10px 26px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 10px 26px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 26px rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 0.3s ease-out;
    -moz-transition: box-shadow 0.3s ease-out;
    -o-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
}

.home-live-status .badge{
    padding: 10px;
    background: #ff7400;
    margin-left: 10px;
    width: 100px;
    border-radius: 50px;
}
.donation-amount-info{
    display: block;
    font-size: 20px;
}
.donation-amount-label{
    margin-top: 10px;
}
.icon-pulse {
	width: 24px;
	height: 24px;
	position: relative;
	vertical-align: middle
}

.icon-pulse .outer {
	width: 12px;
	height: 12px;
	background-color: #fce8e6
}

.icon-pulse .inner {
	width: 12px;
	height: 12px;
	background: #ff7400;
	animation: icon-pulse 1s infinite ease-in-out
}

.icon-pulse .outer,
.icon-pulse .inner {
	margin: auto
}

@keyframes icon-pulse {
	from {
		transform: scale(0);
		opacity: 1
	}
	to {
		transform: scale(2);
		opacity: 0
	}
}
.zero {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.d-inline-block {
    display: inline-block !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.why-donatekart-wrap .pic-n-text{
    display: flex;
    align-items: end;
}
