#showcase .item.slide-vulnerable-groups-corona{
	background: #fd8c2f;
}
#showcase .item.slide-vulnerable-groups-corona p{
	margin: 0;
}
#showcase .item.slide-vulnerable-groups-corona .slide-content{
	width: 100%;
	max-width: 830px;
	padding-top: 0;
}
#showcase .item.slide-vulnerable-groups-corona h2{
	font-size: 24px;
}
#showcase .item.slide-vulnerable-groups-corona img{
	
}
.corona-vulnerable-group-names span{
	border-right: 2px solid #ffffff;
	padding: 0 10px;
}
.corona-vulnerable-group-names span:last-child{
	border-right: 0;
}
#showcase .item.slide-vulnerable-groups-corona .btn-default{
	float: none;
}
.slide-vulnerable-groups-corona-img{
	background-image: url("../images/homepage-slideshow-vulnerable-group.svg");
	background-repeat: no-repeat;
	background-position: center;
	height: 340px;
}
.slide-seniority-groups-corona {
    background-image: url("../images/seniority-slide-large.jpg");
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: auto 700px !important;
    background-color: #161616 !important;
}
.pedigree-slide {
    background-image: url("../images/pedigree-slide-lg.jpg");
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: cover !important;
    background-color: #FFC100 !important;
}
.slide-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.featured-campaigns-search-wrapper .form-inline .form-control{
    border-top-left-radius: 32px !important;
    border-bottom-left-radius: 32px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    background: #f6f6f6;
    height: 60px;
    padding: 10px 24px;
    font-size: 18px;
    border: 2px solid #FF7400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.featured-campaigns-search-wrapper .btn.btn-search {
    padding: 18px 0px;
    color: #ffffff;
    font-size: 24px;
    width: 50px;
    background: #ff7400;
}
.featured-campaigns-search-wrapper {
    margin: 0 auto;
    max-width: 900px;
}
.crowdfunding-platform-icon-wrapper .icon-margin{
    margin-bottom: 20px;
}
.featured-campaigns-search-wrapper .input-group {
    width: 100% !important;
    max-width: 900px;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(255,116,0,0.3);
    margin: 0;
}
.featured-campaigns-search-wrapper .input-group-addon {
    padding: 0px;
    border: 0px !important;
    width: 50px !important;
    background: #ff7400;
    height: 50px;
    border-top-right-radius: 32px !important;
    border-bottom-right-radius: 32px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.featured-campaigns-search-wrapper .input-group-addon .btn.btn-search:focus{
    background-color: #333333;
    border-color: #333333;
    color: #ffffff;
    border-top-right-radius: 32px !important;
    border-bottom-right-radius: 32px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    outline: 0;
}
.featured-campaigns-search-wrapper .btn-link:hover, .featured-campaigns-search-wrapper .btn-link :active, .featured-campaigns-search-wrapper .btn-link :focus {
    color: #ffffff !important;
}
.featured-campaigns-search-wrapper .btn.btn-search .zmdi{
    margin-left: -8px;
}
#featured-campaigns .section-heading-withserach-bar{
    padding: 15px;
}
#crowdfunding-platform-wrapper{
    padding-bottom: 0px;
    background: #f6f6f6;
}
#crowdfunding-platform-wrapper img{
    box-shadow: 0px 10px 10px 0px rgba(166, 173, 198, 0.2);
    border-radius: 100%;
}
#crowdfunding-platform-wrapper .section-heading {
    padding: 30px 15px 30px 15px;
}
.crowdfunding-platform-icon-wrapper{
    padding-top: 20px;
}
.crowdfunding-platform-wrapper img{
    width: 50px;
    height: 50px;
}

.featured-campaigns-search-wrapper .form-inline .form-control,
.featured-campaigns-search-wrapper .input-group-addon{
    z-index: 999999 !important;
    text-overflow: ellipsis !important;
    overflow: hidden;
    position: relative;
}
.featured-campaigns-search-wrapper .input-group input:focus{
    border-color: #FFFFFF;
}
.featured-campaigns-search-wrapper .dropdown-menu{
    max-width: 100%;
    left: 0;
    padding-top: 30px;
    margin-top: -30px;
    border-radius: 0 0 30px 30px;
    border: 2px solid #FFFFFF;
}
.featured-campaigns-search-wrapper .dropdown-menu li a{
    padding: 15px;
    white-space: normal;
}  
.featured-campaigns-search-wrapper .dropdown-menu span{
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}  
.featured-campaigns-search-wrapper .dropdown-menu li a .campaigns-img{
    max-width: 100px;
    height: auto;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.featured-campaigns-search-wrapper .dropdown-menu li a .campaigns-name{
    font-size: 16px;
}
.featured-campaigns-search-wrapper .dropdown-menu li a .campaigns-by{
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C9C9C9;
}
.featured-campaigns-search-wrapper .dropdown-menu li a .campaigns-details{
    font-size: 14px;
    letter-spacing: 0.08em;
}
.featured-campaigns-search-wrapper .typeahead{
	padding:15px 200px;
	width:100% !important;
	background-color: #fff !important;
    padding-left:40px !important; 
    font-size:18px;
}
.featured-campaigns-search-wrapper .link-result{
    padding: 15px;
    letter-spacing: 0.08em;
    text-decoration-line: underline;
    color: #FF7400;
}
.daan-utsav-2020-slide{
    background-image: url("../images/daan-utsav-slide-2020-large.jpg") !important;
    background-size: 1920px auto !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    background-color: #b0dfff !important;
}
#showcase .align-text-bottom.daan-utsav-2020-slide .container .slide-content {
    padding-bottom: 65px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pedigree-slide{
        background-image: url("../images/pedigree-slide-md.jpg");
    }
}
@media only screen and (max-width: 767px) {
	.slide-vulnerable-groups-corona-img{
		background-image: url("../images/homepage-slideshow-vulnerable-group-mobile.svg");
		height: 260px;
		margin-top: -70px;
    }
    .pedigree-slide{
        background-image: url("../images/pedigree-slide-sm.jpg");
    }
    .daan-utsav-2020-slide{
        background-image: url("../images/daan-utsav-slide-2020-mobile.jpg") !important;
        background-size: 767px auto !important;
    }
	#showcase .item.slide-vulnerable-groups-corona{
		padding: 0;
	}
	.corona-vulnerable-group-names span{
		display: block;
		border: 0;
	}
	#showcase .item.slide-vulnerable-groups-corona h2{
		font-size: 20px;
		margin-top: 6px;
	}
	#showcase .item .container, .home #showcase .item {
		min-height: 660px;
	}
	.featured-campaigns-search-wrapper .form-inline input{
        width: 360px !important;
    }
    #showcase .align-text-bottom.daan-utsav-2020-slide .container .slide-content {
        padding-bottom: 50px;
    }
    .featured-campaigns-search-wrapper .form-inline .form-control{
        height: 40px;
        font-size: 14px;
        padding-left: 14px;
    }
    .featured-campaigns-search-wrapper .input-group-addon {
        height: 40px;
    }
    .featured-campaigns-search-wrapper {
        max-width: 360px !important;
    }
    .featured-campaigns-search-wrapper .btn.btn-search {
        padding: 8px 0px;
        font-size: 22px;
    }
    .featured-campaigns-search-wrapper .btn.btn-search .zmdi {
        margin-left: -2px;
    }
    .slide-seniority-groups-corona{
        background-image: url("../images/seniority-slide-mobile.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover !important;
    }
    .featured-campaigns-search-wrapper .dropdown-menu {
        padding-top: 20px;
        margin-top: -20px;
    }
    .featured-campaigns-search-wrapper .dropdown-menu li a .campaigns-img {
        max-width: 70px;
    }
    .featured-campaigns-search-wrapper .dropdown-menu li a .campaigns-name {
        font-size: 14px;
    }
    .featured-campaigns-search-wrapper .dropdown-menu span {
        margin-bottom: 5px;
    }
}
