
/* My Profile CSS */

#donatekart-my-profile .container{
    max-width: 800px;
    margin: 120px auto 50px auto;
    background: #ffffff;
    border-radius: 10px;
    -moz-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.profile-img img{
    position: absolute;
    top: 22px;
    left: 21px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: 100%;
    background-position: center;
}
#donatekart-my-profile .col-xs-12{
    position: relative;
    display: inline-block;
    padding: 65px 0px 0px 200px;
    max-width: 100%;
    min-height: 200px;
}
.edit-btn{
    width: 40px;
    text-align: center;
    color: #ffffff;
    background: #FFC107;
    display: inline-block;
    height: 40px;
    font-size: 18px;
    border-radius: 50%;
    margin-right: 15px;
    line-height: 40px;
    position: absolute;
    top: 0px;  
    right: 0px;
}
.edit-btn .zmdi{
   color: #ffffff;
   line-height: 38px;
}
#donatekart-my-profile .donatekart-my-profile-name{
    font-size: 28px;
}
#donatekart-my-profile p{
    color: rgba(17, 17, 17, 0.4);
}
#donatekart-my-profile-tabs .my-profile-tab-wrapper{
    max-width: 800px;
    margin: 0 auto;
}
#donatekart-my-profile-tabs #campaignTabs {
    background: #FDFDFD;
    box-shadow: 0px 1px 0px #D6DAE9, 0px -1px 0px #D6DAE9;
}
#donatekart-my-profile-tabs .nav-tabs {
    border-bottom: 0px !important;
}
.my-profile-general-details-block{
    width: 100%;
    max-width: 800px; 
    min-height: 600px;
    background: #FDFDFD;
    box-shadow: 0px 20px 40px rgba(214, 218, 233, 0.6);
    border-radius: 10px;
}
.donatekart-my-profile-tab .tab-content{
    padding: 30px 0px;
}
.edit-btn a{
    display: block;
}
.my-donations{
    padding: 0px 0 !important;
}
.my-profile-general-details-heading{
    padding: 20px;
    box-shadow: 0px 1px 0px rgba(214, 218, 233, 0.6);
    position: relative;
}
.my-profile-block-heading{
    font-size: 28px !important;
    display: inline-block;
    color: #F67506 !important;
}
.my-profile-detail-form img{
    margin: 0px auto !important;
}
.my-profile-general-details-info-block .zmdi{
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-right: 10px;
}
.my-profile-general-details-info-block span{
    font-weight: 500;
    font-size: 22px;
    color: #000000;
}
.my-profile-general-details-info-block a{
    color: #000000;
}
.my-profile-general-details-info-block p{
    padding: 20px 20px 0px 40px;
    position: relative;
}
.icon-my-profile .zmdi{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 12px;
}
.my-profile-detail-form .edit-profile-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.modal-my-profile, .modal-campaign{
    max-width: 600px !important;
    margin: 0 auto;
}
.my-profile-detail-form form {
    width: 560px;
}
.modal-my-profile .form-group-btn .btn, .modal-campaign .form-group-btn .btn{
    display: inline-block;
}  
.modal-my-profile .form-group-btn .btn, .modal-campaign .form-group-btn .btn{
    width: 200px;
    height: 50px;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
} 
.checkbox-inline, .radio-inline {
    padding-left: 0px;
}
.radio-btn {
    display: block;
    position: relative;
    padding-left: 21px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 2px; 
    left: 0;
    height: 15px; 
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #333;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-btn:hover input ~ .checkmark {
    background-color: transparent;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-btn input:checked ~ .checkmark {
    border: 1px solid #333;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-btn input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-btn .checkmark:after {
    top: 2px;
    left: 2px; 
    width: 9px;  
    height: 9px;
    background: #333;
    border-radius: 50%;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #FFC107;
    color: #fff;
}
.modal-my-profile .form-group-btn .btn-delete, .modal-campaign .form-group-btn .btn-delete {
    margin-left: 15px;
}
.modal-my-profile .form-group-btn .btn-save, .modal-campaign .form-group-btn .btn-save{
    margin-right: 15px;
}  
.modal-my-profile .form-group-btn .btn-border, .modal-campaign .form-group-btn .btn-border{
    border: 2px solid #F67506;
    box-sizing: border-box;
    border-radius: 30px;
    border: 2px solid #F67506;
    background: #fff;
    color: #F67506;
    line-height: 11px;
} 
.modal-my-profile .form-group-btn .btn-border:hover, .modal-campaign .form-group-btn .btn-border:hover{
    border: 2px solid #F67506;
    box-sizing: border-box;
    border-radius: 30px;
    border: 2px solid #F67506;
    background: #F67506;
    color: #ffffff;
}
.my-profile-detail-form{
    padding-top: 40px;
}
.campaigner-details-btn-wrapper .btn-outline{
    box-shadow: inset 0 0 0 2px #F67506 !important;
    box-sizing: border-box !important;
    border-radius: 30px !important;
    color: #F67506 !important;
    max-width: 260px !important;
    height: 40px !important;
    margin: 0 auto !important;
    font-size: 18px !important;
    line-height: 3px !important;
    padding: 20px 0px !important;
}
.campaigner-details-btn-wrapper .btn-outline:hover, .campaigner-details-btn-wrapper .btn-outline:focus, .campaigner-details-btn-wrapper .btn-outline:active{
    background-color: #F67506 !important;
    color: #ffffff !important;
}
.edit-product-img img{
    width: 360px;
    height: 260px;
}
.upload-icon{
    background-image: url("../images/upload-icon.png");
    width: 40px;
    height: 40px;
}
.select-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0px;
    margin-bottom: 0;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 13px;
}
.select-file .select-file-input {
    position: relative;
    z-index: 9;
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
}
.my-profile-edit-block img{
    margin: 10px auto !important;
}
.my-profile-form .from-width{
    width: 250px;
}
.my-profile-general-details-heading .edit-btn {
    top: 18px;
    right: 3px;
}
.select-files-user-edit .select-file-label:after{
    bottom: 15px !important;
    right: 210px !important;
}
.my-donations .campaign-card{
    height: auto;
}
.my-donations .donation-details-author {
    margin-bottom: 20px;
    font-style: italic;
    letter-spacing: 0;
}
.my-donations .item-donation-cost{
    color: #ff7400;
    font-size: 24px;
    padding: 8px 0 0 0;
}
.my-donations .donation-details{
    margin-bottom: 5px;
}
.inr-orange:after {
    background-image: url("../images/inr-orange.svg");
}
.has-subscribe{
    font-size: 14px !important;
    font-style: italic;
    margin-left: 10px;
}
.my-profile-detail-form form{
    max-width: 100%;
}
.edit-profile-img{
    position: relative;
    display: block;
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 0;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 13px;
    margin: 0 auto 10px;
}
.edit-profile-img .select-file{
    content: '';
    display: block;
    background-image: url("../images/upload-icon.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    box-shadow: 0px 4px 10px rgba(214, 218, 233, 0.6);
    border-radius: 50%;
}
.edit-profile-img .select-file-label{
    width: 100%;
    height: 100%;
}
.my-profile-general-details-block a{
    text-decoration: none;
}

.campaign-sub-tabs-wrapper .nav-tabs > li > a{
    background:  #D6DAE9;
    border-radius: 0;
    color: #333333;
}
.campaign-sub-tabs-wrapper .nav-tabs > li{
    max-width: 399px;
    width: 100%;
}
.campaign-sub-tabs-wrapper .nav-tabs > li.active > a, .campaign-sub-tabs-wrapper .nav-tabs > li.active > a:focus, .campaign-sub-tabs-wrapper .nav-tabs > li.active > a:hover {
    background: #F67506 !important;
    color: #ffffff;
    -moz-box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}
.campaign-sub-tabs-wrapper .nav-tabs > li > a {
    margin-left: 0px;
    margin-right: 0px;
}
.campaign-sub-wrapper{
    margin-top: 30px;
    border: 1px solid #D6DAE9;
    box-sizing: border-box;
}
#campaign-sub-tabs-wrapper .tab-content {
    padding: 25px 0px;
}
#campaign-sub-tabs-wrapper #supported .campaign-card{
    height: auto;
}
.campaign-summary-unsubscribe-switch-btn .campaign-summary-unsubscribe-switch-title{
    height: 22px;
    padding: 0px;
    font-size: 16px;
    margin-top: 0px;
}
.campaign-summary-unsubscribe-switch-btn .campaign-summary-unsubscribe-detail {
    height: 22px;
    margin-top: 0px;
    padding: 0px;
    font-size: 16px;
}

.campaign-summary-unsubscribe-switch-btn .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    z-index: 99;
  }
  
  .campaign-summary-unsubscribe-switch-btn .switch input { 
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    margin: 0px;
  }
  
  .campaign-summary-unsubscribe-switch-btn .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9a9a9a !important;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .campaign-summary-unsubscribe-switch-btn .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .campaign-summary-unsubscribe-switch-btn .row{
    margin: 10px 0px;
  }
  .campaign-summary-unsubscribe-switch-btn input:checked + .slider {
    background-color: #2fc816 !important;
  }
  
  .campaign-summary-unsubscribe-switch-btn input:focus + .slider {
    box-shadow: 0 0 1px #2fc816 !important;
  }
  
  .campaign-summary-unsubscribe-switch-btn input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .campaign-summary-unsubscribe-switch-btn .slider.round-btn {
    border-radius: 34px;
  }
  
  .campaign-summary-unsubscribe-switch-btn .slider.round-btn:before {
    border-radius: 50%;
  }
  .campaign-summary-unsubscribe-switch-btn .col-xs-6{
    padding-right: 0px
  }
.featured-campaigns-empty{
    margin-bottom: 20px;
}
.featured-campaigns-empty h3{
    opacity: 0.7;
}
.donatekart-my-profile-tab .donatekart-my-campaign .campaign-card{
    height: auto !important;
}
/* Responsive */
@media only screen and (max-width: 991px) {
    .my-profile-general-details-block {
        max-width: 720px;
    }
    .campaign-sub-tabs-wrapper .nav-tabs > li {
        width: 49% !important;
        margin: 0 auto;
        float: unset;
        display: inline-block;
    }
    .campaign-sub-tabs-wrapper .nav-tabs > li > a {
        margin-left: -5px;
        margin-right: -6px;
    }
}
@media only screen and (max-width: 768px){
    .my-profile-general-details-block {
        max-width: 740px;
    }
}
@media only screen and (max-width: 767px) {
    #donatekart-my-profile-tabs .nav-tabs > li a {
        font-size: 12px;
        padding: 10px 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 0;    
    }
    #donatekart-my-profile-tabs .nav-tabs > li {
        width: 33.33%;
        text-align: center;   
    }
    .my-profile-general-details-info-block span{
        word-wrap: break-word;
    }
}
@media screen and (max-width: 650px) {
    .modal-my-profile .form-group-btn .btn, .modal-campaign .form-group-btn .btn {
        width: 175px;
        height: 50px;
    }
}
@media screen and (max-width: 645px) {
    .my-profile-general-details-info-block span{
        word-wrap: break-word;
    }
}
@media only screen and (max-width: 600px){
    .modal-my-profile, .modal-campaign {
        width: calc(100vw - 30px) !important;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 580px) {
    #donatekart-my-profile .container{
        height: 150px;
    }
    .profile-img img {
        top: 5px;
        left: 21px;
        width: 100px;
        height: 100px;
    }
    #donatekart-my-profile .col-xs-12 {
        padding: 25px 0px 0px 140px;
    }
    #donatekart-my-profile{
        margin: 0 20px;
    }
    #donatekart-my-profile-tabs .nav-tabs > li > a {
        font-size: 14px;
        padding: 14px 9px;
        margin-left: -4px;
    }
    .my-profile-general-details-block{
        max-width: 560px;
    }
    .my-profile-form .from-width {
        width: unset;
        margin-right: 10px;    
    }
    .modal-my-profile .form-group-btn .btn {
       width: 150px;
    }
    .modal-my-profile .has-form-group-btn .btn{
        width: 100px;
        margin-right: 5px;
    }
    .modal-my-profile .has-form-group-btn .btn-delete {
        margin-left: 5px;    
    }
    .my-profile-general-details-info-block span{
        word-wrap: break-word;
    }
    .select-file .select-file-label:after {
        right: 150px;
    }
    .select-files-user-edit .select-file-label:after {
        bottom: 8px !important;
        right: 40% !important;
    }
}
@media screen and (max-width: 450px) {
    .campaign-sub-tabs-wrapper .nav-tabs > li {
        width: 169px !important;
    }
}
@media screen and (max-width: 480px) {
    .my-profile-general-details-block {
        max-width: 450px;
    }
    .my-profile-general-details-info-block span{
        word-wrap: break-word;
    }
}
@media only screen and (max-width: 479px) {
    .my-profile-general-details-info-block span{
        word-wrap: break-word;
    }
}
@media screen and (max-width: 360px) {
    .my-profile-general-details-block {
        max-width: 320px;   
    }
    .my-profile-general-details-info-block{
        padding-bottom: 20px;
    }
    .my-profile-general-details-info-block span{
        word-wrap: break-word;
    }
    .select-files-user-edit .select-file-label:after {
        bottom: 10px !important;
        right: 30% !important;
    }
    .campaign-sub-tabs-wrapper .nav-tabs > li {
        width: 160px !important;
    }
}
@media screen and (max-width: 414px) {
    .select-files-user-edit .select-file-label:after {
        bottom: 8px !important;
        right: 33% !important;
    }
}

