body{
	font-family: 'Work Sans', sans-serif;
}
h1, h2, h3, h4, h4, h5, h6, p{
	font-family: 'Work Sans', sans-serif;
}
h3{
	text-transform: unset;
}
.phonepe-wrapper{
	background: #F5F6FA;
}
.phonepe-header{
	background: linear-gradient(89.95deg, #FF4800 0.03%, #FF7400 99.97%);
	color: #ffffff;
	box-shadow: 0 -58px 0 0 #F5F6FA inset;
}
.phonepe-header .phonepe-header-text1{
	margin-bottom: 5px;
}
.phonepe-header .phonepe-header-text2{
	margin-top: 0px;
	margin-bottom: 30px;
}
.phonepe-header .showcase-content-wrapper{
	background: #fff;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(17, 17, 17, 0.1);
	max-width: 450px;
}
.phonepe-header .text-logo-wrapper h4{
	color: #333333;
	font-weight: bold;
	font-size: 15px;
	margin-top: 11px;	
}
.phonepe-header .text-logo-wrapper > .col-xs-5{
	padding-right: 0;
}
.phonepe-header  .text-logo-wrapper > .col-xs-5 img{
	padding-top: 0;
	background: transparent;
	padding-left: 6px;
}
.phonepe-campaigns-wrapper {
    text-align: center;
	margin-top: 15px;
}
.phonepe-campaigns-wrapper .campaign-stats{
	text-align: center;
}
.phonepe-campaigns-wrapper .campaign-image{
	max-width: 380px;
	height: 188px;
}
.phonepe-campaigns-wrapper .campaign-card{
	box-shadow: 0px 4px 10px rgba(17, 17, 17, 0.1);
	border-radius: 10px;
	margin-bottom: 60px;
	height: auto;
	max-width: 366px;
}
.phonepe-campaigns-wrapper .campaign-card .single-stat {
    width: 48%;
}
.phonepe-campaigns-wrapper .campaign-card img{
	border-radius: 10px 10px 0px 0px;
}
.phonepe-campaigns-wrapper .campaign-card .campaign-summary{
	padding-bottom: 30px;
}
.phonepe-campaigns-wrapper .donation-btn{
	max-width: 200px;
    margin: 0 auto;
    text-align: center;
}
.phonepe-campaigns-wrapper .donation-btn .btn{
	background: linear-gradient(89.86deg, #FF4800 0.03%, #FF7400 99.97%);
	box-shadow: 0px 10px 10px rgba(255, 115, 0, 0.5);
	background: linear-gradient(89.86deg, #FF4800 0.03%, #FF7400 99.97%);
	box-shadow: 0px 10px 10px rgba(255, 115, 0, 0.5);
	width: 200px;
	height: 50px;
	line-height: 30px;
	margin-bottom: -24px;
	font-size: 18px;
}
#phonepe-landing-faqs .panel-default{
	text-align: left;
}
#phonepe-landing-faqs .accordion .panel-title > a {
	padding: 14px 40px 14px 16px;    
	background: #ffffff;
    display: block;
    border-bottom: 0px;
	line-height: 22px;
	border-radius: 10px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-transition: box-shadow 0.3s ease-out;
    -o-transition: box-shadow 0.3s ease-out;
    -webkit-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
}
#phonepe-landing-faqs .accordion .panel-title{
	font-size: 18px; 
	font-weight: bold;
}
#phonepe-landing-faqs .accordion .panel-title > a:after{
	width: 50px;
	line-height: 50px;
}
#phonepe-landing-faqs .accordion .panel-title > a:hover, #phonepe-landing-faqs .accordion .panel-title > a:active, #phonepe-landing-faqs .accordion .panel-title > a:focus {
	color: #333333;
}
#phonepe-landing-faqs .accordion .panel-title > a[aria-expanded="true"] {
    box-shadow: 0px 10px 10px 0px rgba(166, 173, 198, 0.2);
}
.phonepe-stats .col-xs-4 h3{
	margin-bottom: 0px;
}
.phonepe-stats .our-impact-material{
    background-image: url("../images/material.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.phonepe-stats .our-impact-donors{
    background-image: url("../images/donors.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.phonepe-stats .our-impact-ngo{
    background-image: url("../images/ngo-impact.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.phonepe-stats .our-impact-wrapper-icon{
	width: 72px;
    text-align: center;
    color: #333333;
	background: #FFFFFF;
	box-shadow: 0px 10px 10px rgba(166, 173, 198, 0.25);    
	display: inline-block;
    height: 72px;
    font-size: 18px;
    border-radius: 50%;
}
.phonepe-stats h3 img{
	margin-top: -3px;
	margin-right: 3px;
}	
.phonepe-stats p{
	line-height: 14px;
}
.phonepe-how-works .disaster-prevention-wrapper{
	border: 1px solid rgba(166, 173, 198, 0.5);
	border-radius: 10px;
	margin-bottom: 20px;
	max-width: 340px;
	width: 90%;
}
.phonepe-how-works .number-block{
	width: 30px;
	height: 30px;
	background: linear-gradient(89.97deg, #FF4800 0.03%, #FF7400 99.97%);
	display: block;
	border-radius: 100%;
	color: #fff;
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
}
.phonepe-how-works p{
	margin-top: 0px;
}
.phonepe-how-works .disaster-prevention-wrapper{
	padding: 10px;
}
.phonepe-how-works h3{
	text-transform: none;
	letter-spacing: 0;
}
#phonepe-campaigns .campaign-title{
	text-transform: none;
}

/* Responsive */
@media only screen and (max-width: 450px) {
	.phonepe-header .text-logo-wrapper h4{
		font-size: 13px;
		margin-top: 5px;
	}
	.phonepe-header{
		box-shadow: 0 -43px 0 0 #F5F6FA inset;
	}
}
@media only screen and (max-width: 360px) {
	.phonepe-header .text-logo-wrapper h4{
		font-size: 11px;
	}
	.phonepe-header {
		box-shadow: 0 -41px 0 0 #F5F6FA inset;
	}
}
