@media only screen and (min-width: 992px) and (max-width: 1199px) {

    #success-stories-slider .carousel-inner,
    #success-stories-slider .campaign-story-wrapper {
        max-width: 630px;
    }

    #success-stories-slider .campaign-title {
        white-space: unset;
        overflow-x: scroll;
    }

    #testimonials-slider .carousel-inner {
        max-width: 700px;
    }

    .single-campaign-card {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .single-card-right {
        max-width: 100%;
        width: 100%;
    }

    .single-card-right>div {
        width: 350px;
    }

    .campaign-stats {
        float: left;
        width: 100%;
    }

    .campaign-summary,
    .campaign-buttons {
        float: right;
        width: 100%;
    }

    .single-campaign-card .campaign-stats {
        margin-bottom: 0;
        padding: 50px 0;
    }

    .product-cards-wrapper {
        text-align: center;
    }

    #allBackers .modal-lg {
        width: 720px;
    }

    .single-campaign-card {
        max-height: unset;
    }

    .single-campaign-card iframe {
        height: 393px;
    }

    .pic-n-text>div {
        min-height: 400px;
    }

    #participate .or-participate-steps .or-step-1:before {
        top: 60px;
        width: 160px;
        left: -160px;
    }

    #participate .or-participate-steps .or-step-1:after {
        top: 120px;
        right: -90px;
    }

    #participate .or-participate-steps .or-step-3:after {
        top: -20px;
        right: -150px;
    }

    #participate .or-participate-steps .or-step-3:before {
        top: -20px;
        left: -150px;
    }

    .stick-scroll-menu #campaignTabs {
        max-width: 616.6px;
    }

    .single-campaign-daan-utsav-details .product-cards-wrapper {
        text-align: inherit;
    }
    .navbar-white-area li a, .navbar-v2 li a{
        font-size: 11px;
    }
    .nav-notification li a, .nnav-user li a{
        font-size: 14px !important;
    }

}
@media only screen and (max-width: 992px) {
    .navbar-white-area .navbar-nav > li > a, .navbar-v2 .navbar-nav > li > a{
        padding: 10px;
    }
}
@media only screen and (max-width: 991px) {
    .navbar-white-area .navbar-collapse .navbar-nav .pull-right, .navbar-v2 .navbar-collapse .navbar-nav .pull-right{
        float: none !important;
    }
    .navbar-v2 .cart-wrapper-main {
        right: 150px;
    }
    .navbar-white-area .nav-pills, .navbar-v2 .nav-pills {
        position: absolute;
        top: 10px;
        right: 40px;
    }
    .navbar-white-area .nav-notification, .navbar-v2 .nav-notification {
        position: absolute;
        top: 10px;
        right: 99px;
    }
    .navbar-v2 .navbar-toggle {
        border-color: #fff !important;
        margin-right: 5px !important;
    }
    .navbar-default .navbar-v2 .navbar-toggle {
        margin-right: 5px;
    }
    .navbar-v2 .navbar-toggle .zmdi{
        font-size: 30px;
        line-height: 18px;
        color: #ff7400;
    }
    .navbar-default .navbar-white-area .nav-pills, .navbar-default .navbar-v2 .nav-pills {
        right: 35px;
    }
    .navbar-default .navbar-white-area .nav-notification,  .navbar-default .navbar-v2 .nav-notification {
        right: 84px;
    }
    .navbar-v2 .nav-notification-not-logged-in{
        right: 90px !important;
    }
    .single-campaign-new-chnages-wrapper #page-title h1{
        font-size: 28px;
    }
    .daan-utsav-single-campaign .product-card.visible-md {
        display: block !important;
    }
    #mainmenu-navbar-collapse {
        width: 100%;
        padding: 0px;
        margin-left: 0;
        margin-right: 0;
    }

    #header .navbar-nav {
        margin: 0;
        padding-top: 15px;
        text-align: center;
    }

    .navbar-default .navbar-nav>li>a.btn {
        width: 180px;
        margin: 0 auto 15px;
    }

    .navbar-default .navbar-toggle {
        border-color: #ff7400;
        margin-right: 14px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ff7400;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-collapse.collapse.in {
        /* NEW */
        display: block !important;
    }

    .cart-wrapper-main {
        right: 90px;
    }

    .campaign-edit-title .zmdi {
        top: 72px;
        right: 265px;  
    }
    .about-campaign-ngo-button .ngo-buttons .btn {
        width: 100px;
    }
    .matching-info-box .matching-info-image img {
        max-width: 100px;
        height: 100px;
    }
    .user-dropdown-loggedin .dropdown-toggle, .not-logged-in .dropdown-toggle {
        margin-right: 10px;
    }
    .daan-utsav-single-campaign .user-dropdown-loggedin .dropdown-toggle {
        margin-right: 15px;
    }
    .navbar-default .user-dropdown-notification .dropdown-toggle {
        margin-right: 0;
        padding: 0;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .campaign-card {
        max-width: 340px;
    }

    .single-stat {
        width: 48%;
    }
    #success-stories-slider .carousel-inner,
    #success-stories-slider .campaign-story-wrapper {
        max-width: 600px;
    }

    #success-stories-slider .campaign-title {
        white-space: unset;
        overflow-x: scroll;
    }

    #testimonials-slider .carousel-inner {
        max-width: 520px;
    }

    footer .col-sm-6 {
        min-height: 270px;
    }

    .single-campaign-card {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .single-card-right {
        max-width: 100%;
        width: 100%;
    }

    .single-card-right>div {
        width: 350px;
    }

    .campaign-stats {
        float: left;
        width: 100%;
    }

    .campaign-summary,
    .campaign-buttons {
        float: right;
        width: 100%;
    }

    .single-campaign-card .campaign-stats {
        margin-bottom: 0;
        padding: 50px 0;
    }

    .product-cards-wrapper {
        text-align: center;
    }

    .nav-tabs>li>a {
        padding: 16px 8px;
    }

    .campaigner-on-web .btn {
        width: 100%;
    }

    #allBackers .modal-lg {
        width: 720px;
    }

    .dk-advantage {
        padding: 15px 15px 15px 76px;
    }

    .checkout-items-list {
        padding: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .checkout-setup {
        position: relative;
        width: auto;
        border-left: 0;
        height: auto;
    }

    #checkout-info .container .col-xs-12 {
        min-height: auto;
    }

    .campaign-donated-card {
        padding: 0 0 0 312px;
        min-height: 170px;
    }

    .campaign-donated-card .campaign-image {
        max-width: 312px;
    }

    .campaign-donated-card .campaign-summary {
        padding: 0 15px;
    }

    .campaign-donated-card h1 {
        font-size: 28px;
    }

    .initial-form .container {
        position: relative;
        top: unset;
        left: unset;
        margin-top: 100px;
        margin-left: auto;
    }

    .initial-pages {
        position: absolute;
        top: 0;
        left: 0;
    }

    .pic-n-text>div {
        min-height: 300px;
    }

    #participation-mission .form-n-text>div {
        min-height: 430px;
    }

    #participate .or-participate-steps .or-step-1:before {
        top: 50px;
        width: 120px;
        left: -120px;
    }

    #participate .or-participate-steps .or-step-1:after {
        top: 120px;
        right: -90px;
    }

    #participate .or-participate-steps .or-step-3:after {
        top: -20px;
        right: -150px;
    }

    #participate .or-participate-steps .or-step-3:before {
        top: -20px;
        left: -150px;
    }

    .single-campaign-card {
        max-height: unset;
    }

    .single-campaign-card iframe {
        height: 393px;
    }

    .stick-scroll-menu #campaignTabs {
        max-width: 470px;
    }

    .single-campaign-daan-utsav-details .product-cards-wrapper {
        text-align: inherit;
    }
    .matching-info-box {
        text-align: center !important;
        display: block;
    }
    .navbar-white-area.mini-menu .nav-notification,  .navbar-v2.mini-menu .nav-notification{
        top: 0px;
    }
    .navbar-white-area.mini-menu .nav-pills, .navbar-v2.mini-menu .nav-pills {
        top: 0px;
    }
    .scroll-to-top-v2 {
        bottom: 80px !important;
    }
}
@media only screen and (max-width: 767px) {
    #showcase .item h1 {
        padding-top: 90px;
        line-height: 20px;
        font-size: 16px;
    }
    #showcase .btn-lg {
        font-size: 15px;
        padding: 10px 20px;
    }

    #showcase .item {
        height: 380px;
    }

    .campaign-stats>div {
        width: 100%;
    }

    .campaign-card {
        width: 90%;
        height: auto;
    }

    .campaign-title {
        margin-bottom: 4px;
        white-space: normal;
        overflow-x: inherit;
    }

    .campaign-summary {
        padding: 0 15px;
    }

    .campaign-author {
        margin-bottom: 8px;
    }

    .campaign-story-wrapper {
        max-width: unset;
    }

    #success-stories-slider .single-stat {
        padding: 0 15px 15px 15px;
    }

    footer,
    #how-dk-works,
    #copyrights,
    .payment-cards {
        text-align: center !important;
    }

    .mini-cart {
        width: 300px;
    }

    #success-stories .row {
        margin: 0;
    }

    .carousel-control {
        display: none;
    }

    #mainmenu-navbar-collapse {
        width: 100%;
        padding: 0px;
        margin-left: 0;
        margin-right: 0;
    }

    #header .navbar-nav {
        margin: 0;
        padding-top: 15px;
        text-align: center;
    }

    .navbar-default .navbar-nav>li>a.btn {
        width: 180px;
        margin-bottom: 15px;
    }

    .navbar-default .navbar-toggle {
        border-color: #ff7400;
        margin-right: 14px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ff7400;
    }

    .percent-graph-completed {
        padding-top: 15px;
    }

    .product-cards-wrapper {
        text-align: center;
    }

    .product-card {
        max-width: 350px;
        width: 90%;
    }

    .single-card-right {
        max-width: 100%;
    }

    .single-campaign-card .campaign-stats,
    .single-campaign-card .campaign-summary {
        text-align: center;
    }

    .single-campaign-card .btn-primary {
        padding: 15px;
    }

    #single-campaign-details .nav-tabs>li {
        width: 33.33%;
        text-align: center;
    }

    #single-campaign-details .nav-tabs>li a {
        font-size: 12px;
        padding: 10px 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 0;
    }

    .campaign-tabs-wrapper .badge {
        position: absolute;
        top: 12px;
        right: 0;
        padding: 4px 0px;
        min-width: 20px;
    }

    .campaigner-on-web .btn {
        width: 100%;
    }

    .modal-lg {
        width: inherit !important;
    }

    #allBackers .modal-lg {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .campaign-update {
        margin-left: 40px;
    }

    .campaign-update:before {
        left: -40px;
    }

    .campaign-update:after {
        left: -31px;
    }

    .share-buttons-wrapper {
        display: block;
        margin-top: 10px;
    }

    .campaign-buttons {
        padding-top: 15px;
    }

    #top-menu .nav-pills>li>a {
        padding: 10px 8px;
    }

    .explore-campaigns .campaign-card {
        width: 100%;
        margin: 10px 0;
    }

    .dk-advantage {
        padding: 15px 15px 15px 76px;
    }

    .checkout-items-list {
        padding: 15px;
    }

    .checkout-setup {
        position: relative;
        width: auto;
        border-left: 0;
        height: auto;
        padding: 15px;
    }

    #checkout-info .container .col-xs-12 {
        min-height: auto;
    }

    .checkout-items-list .mini-cart-items {
        margin: 0 auto;
        max-width: 260px;
    }

    .checkout-items-list .mini-cart-items img {
        position: relative;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .checkout-items-list .mini-cart-items li {
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: 10px 0;
        padding: 15px;
    }

    .checkout-items-list .item-name {
        line-height: 22px;
        margin-bottom: 6px;
        white-space: normal;
        overflow: auto;
    }

    .item-total {
        position: relative;
        display: block;
        right: auto;
        top: auto;
        margin-top: 10px;
        width: 100%;
        text-align: left;
    }

    .checkout-items-list .item-quantity {
        float: right;
    }

    .checkout-items-list .item-price {
        margin: 4px 0;
        display: inline-block;
    }

    .order-message {
        min-height: 200px;
    }

    .campaign-donated-card {
        padding: 0 0 10px 0;
        max-width: 370px;
    }

    .campaign-donated-card .campaign-image {
        position: relative;
    }

    .campaign-donated-card h1 {
        font-size: 20px;
    }

    .bs-wizard>.bs-wizard-step .bs-wizard-info {
        font-size: 12px;
    }

    #new-campaign-form .container {
        padding-top: 24px;
        padding-bottom: 0;
    }

    #new-campaign-form .btn {
        padding: 16px 32px;
        font-size: 16px;
        margin: 10px 0;
        width: 100%;
    }

    #new-campaign-form .text-right {
        text-align: center !important;
    }

    .bs-wizard {
        margin: 20px 5px 0;
    }

    .delete-item {
        opacity: 1;
    }

    .initial-form .container {
        position: relative;
        top: unset;
        left: unset;
        margin-top: 10px;
        margin-left: auto;
        width: 90%;
        max-width: 320px;
    }

    .initial-pages {
        position: absolute;
        top: 0;
        left: 0;
    }

    .initial-form img {
        margin: 30px auto;
        width: 160px;
    }

    .social-login-wrapper,
    .initial-form form {
        width: 100% !important;
    }

    .initial-form .container {
        height: auto;
        padding-bottom: 15px;
    }

    .initial-form .btn-social,
    .initial-form .btn-primary {
        padding: 12px 20px;
    }

    .initial-form .btn-social.btn-google {
        -moz-box-shadow: 0 6px 10px rgba(236, 30, 17, 0.3);
        -webkit-box-shadow: 0 6px 10px rgba(236, 30, 17, 0.3);
        box-shadow: 0 6px 10px rgba(236, 30, 17, 0.3);
    }

    .initial-form .btn-social.btn-facebook {
        -moz-box-shadow: 0 6px 10px rgba(72, 103, 170, 0.3);
        -webkit-box-shadow: 0 6px 10px rgba(72, 103, 170, 0.3);
        box-shadow: 0 6px 10px rgba(72, 103, 170, 0.3);
    }

    .initial-form .form-control {
        height: 44px;
    }

    .initial-form .seperater {
        margin: 20px auto;
    }

    #contact-page-content .container .col-sm-4 {
        text-align: center;
    }

    #contact-page-content .container .col-sm-8 {
        max-width: 90%;
        margin: 40px auto 40px auto;
    }

    .user-dropdown .btn {
        width: 80px;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    .product-add-to-cart .btn {
        padding: 15px 10px;
    }

    .pic-n-text {
        padding: 10px;
    }

    .pic-n-text>div {
        min-height: auto;
    }

    .navbar-brand {
        background-size: 200px 50px;
        width: 50px !important;
    }

    .mini-cart-items-count:after {
        content: "";
        display: none;
    }

    .campaign-buttons .btn-primary {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .campaign-summary {
        position: relative;
    }

    .campaign-summary .btn-link {
        padding: 15px;
        border: 2px solid #ff7400;
        width: 100%;
        position: relative;
        z-index: 999;
    }

    .single-card-right .campaign-summary:after {
        content: "";
        width: 100%;
        position: absolute;
        height: 120px;
        bottom: 70px;
        left: 0;
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        /* For Safari 5.1 to 6.0 */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }

    .cart-wrapper-main {
        right: 74px;
    }

    .single-campaign-card {
        max-height: unset;
    }

    .single-campaign-card iframe {
        width: 100%;
        height: 100%;
    }

    .products-list-collapse {
        background: #f6f6f6;
        padding: 20px;
        position: relative;
        cursor: pointer;
        pointer-events: auto;
        -moz-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    .products-list-collapse[aria-expanded="true"]:after {
        -ms-transform: rotate(180deg);
        /* IE 9 */
        -webkit-transform: rotate(180deg);
        /* Chrome, Safari, Opera */
        transform: rotate(180deg);
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .products-list-collapse[aria-expanded="false"]:after {
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -webkit-transform: rotate(0deg);
        /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .products-list-collapse:after {
        content: '\f2f9';
        font-family: 'Material-Design-Iconic-Font';
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px 20px;
    }

    #participation-mission .form-n-text>div {
        min-height: auto;
    }

    #participate .or-participate-steps .has-step:before,
    #participate .or-participate-steps .has-step:after {
        display: none;
    }

    .or-brand {
        margin-left: 14px;
    }

    #participate .or-participate-steps .row>div {
        text-align: center;
    }

    #participate .or-participate-steps .has-step p {
        margin: 10px auto;
        text-align: left;
        max-width: 250px;
    }
    

    .single-campaign .single-campaign-social-wrapper .btn-whatsapp {
        display: inline-block !important;
    }

    .single-campaign.stick-scroll-menu #campaignTabs {
        /* position: inherit !important; */
        top: 120px;
    }

    .single-campaign.stick-scroll-menu #products-tab-panel {
        padding-top: 130px;
    }

    .single-campaign.stick-scroll-menu #campaign-tabs-wrapper {
        padding-top: 0;
    }

    .single-campaign .single-campaign-social-wrapper {
        position: fixed;
        top: 50px;
        width: 100%;
        left: 0;
        z-index: 99999;
        background: #fff;
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 14px;
    }

    .stick-scroll-menu #campaignTabs {
        width: 100% !important;
        margin-left: -15px;
    }


    #particpate-modal .modal-dialog {
        width: 320px !important;
        left: 50%;
        margin-left: -160px !important;
    }

    #particpate-modal .modal-dialog h2 {
        font-size: 15px;
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 20px;
    }

    #particpate-modal .btn-primary {
        margin-top: 0px;
    }

    #page-title.or-page-title {
        padding: 90px 0 20px 0;
    }

    #page-title.or-page-title .or-patners>div.col-sm-2 {
        width: 30%;
        display: inline-block;
        margin: 4px auto;
    }

    #page-title.or-page-title .or-patners>div.col-sm-3 {
        height: 30px;
        margin: 14px auto;
    }

    #page-title.or-page-title h1 {
        font-size: 21px;
        line-height: 28px;
        margin-bottom: 16px;
    }

    .navbar-fixed-top {
        top: 40px;
    }
    .navbar-v2 .navbar-toggle {
        border-color: #fff !important;
        margin-right: 15px !important;
    }
    .navbar-white-area, .navbar-v2{
        top: 0px;
    }
    .navbar-white-area .nav-pills, .navbar-v2 .nav-pills {
        right: 45px;
        top: 0px;
    }
    .navbar-white-area .nav-notification, .navbar-v2 .nav-notification {
        right: 95px;
        top: 0px;
    }
    .navbar-default .navbar-white-area .nav-pills, .navbar-default .navbar-v2 .nav-pills{
        right: 45px;
        top: 0px;
    }
    .navbar-white-area .cart-wrapper-main, .navbar-v2 .cart-wrapper-main {
        top: 0px;
    }
    .navbar-white-area .nav-pills, .navbar-v2 .nav-pill {
        position: absolute;
        top: 0px;
        right: 35px;
    }
    .mini-menu {
        top: 0px;
    }

    #page-title.or-page-title {
        background-image: url(../images/showcase-bg-3-small.jpg);
    }

    .or-wrapper #about-us {
        padding: 30px 0;
    }

    .or-participate-steps img {
        max-width: 200px;
    }

    .or-wrapper #copyrights .col-sm-6 {
        text-align: center;
    }

    #participate .or-participate-steps .row>div {
        padding: 30px 15px;
    }

    #participation-mission {
        padding: 20px 0px;
    }

    .home #showcase .item {
        height: 600px;
        padding: 0 60px;
    }

    .daan-utsav-main #showcase .item {
        height: 680px;
        padding: 0 60px;
    }

    .home #showcase-slider .carousel-indicators,
    .daan-utsav-main #showcase-slider .carousel-indicators {
        bottom: 0px;
    }

    .home #showcase .item h1,
    .daan-utsav-main #showcase .item h1 {
        padding-top: 10px;
    }

    .home #showcase .item .slide-content,
    .daan-utsav-main #showcase .item .slide-content {
        padding-top: 0px;
    }

    .home #showcase h2,
    .daan-utsav-main #showcase h2 {
        font-size: 16px;
    }

    .home #showcase .btn,
    .daan-utsav-main #showcase .btn {
        width: 100%;
        float: left;
        /* margin: 10px 0; */
        max-width: 240px;
    }

    .home #showcase .btn-corona-donate {
        max-width: unset !important;
        margin: 10px 0 !important;
    }

    .donor-tabs-wrapper .nav-tabs>li>a {
        font-size: 12px;
    }

    .backer-name {
        overflow: hidden;
    }

    .daan-utsav-single-campaign .btn-website {
        display: none;
    }

    .daan-utsav-single-campaign .product-social-wrapper .btn-whatsapp {
        display: inline-block !important;
    }

    .daan-utsav-single-campaign.stick-scroll-menu #campaignTabs {
        /* position: inherit !important; */
        top: 70px;
        width: calc(100% - 60px);
    }

    .daan-utsav-single-campaign.stick-scroll-menu #products-tab-panel {
        padding-top: 130px;
    }

    .daan-utsav-single-campaign.stick-scroll-menu #campaign-tabs-wrapper {
        padding-top: 0;
    }

    .navbar-fixed-top {
        padding: 0;
    }

    .daan-utsav-single-campaign .product-social-wrapper {
        position: initial;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 99;
        background: #fff;
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .mobile-sticky-items .price-bar-mobile {
        display: block;
    }

    .daan-utsav-single-campaign.mobile-sticky-items .product-social-wrapper {
        position: fixed;
    }

    .mobile-stick-link-wrapper .stick-in-footer {
        display: block;
    }

    .single-campaign #page-title {
        padding-top: 40px !important;
    }

    .single-campaign-daan-utsav-details .single-campaign-daan-utsav {
        padding: 0px;
    }

    .single-campaign-daan-utsav-details .product-cards-wrapper {
        text-align: inherit;
        margin-left: 0px !important;
    }

    .single-campaign-daan-utsav-details .single-campaign-daan-utsav .campaign-updates-wrapper {
        padding: 0px !important;
    }

    .payment-pages #page-title h1 a.btn {
        position: relative;
        left: unset;
        top: unset;
        float: none !important;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .column {
        flex-direction: column;
    }

    .reverse-column {
        flex-direction: column-reverse;
    }

    .donatekart-csr #page-title {
        padding: 70px 0;
    }

    .our-programs-wrapper .our-program-block {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .our-programs-wrapper .our-program-block .our-program-wrap img {
        margin-bottom: 50px;
    }

    .csr-form-wrapper .csr-supported-block-wrap {
        padding-left: 0px;
        padding-right: 0px;
    }

    .csr-form-wrapper .csr-form-heading,
    .csr-form-wrapper .csr-supported-block-wrap .csr-supported-block {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .home #showcase .item.slide1-corona {
        padding: 0 50px;
    }
    .corona-daan-campaign-main.daan-utsav-main #showcase .item {
		padding: 0 6px;
		line-height: 30px;
	}
	.corona-daan-campaign-main.daan-utsav-main #showcase h2{
		font-size: 24px !important;
	}
	.slide1-corona {
		background-image: url("../images/corona-slide-1-mobile.jpg");
	}
	.slide2-corona {
		background-image: url("../images/corona-slide-2-mobile.jpg");
	}
	.slide3-corona {
		background-image: url("../images/corona-slide-3-mobile.jpg");
    }
    .daan-utsav-main #showcase .item, #showcase .item .container{
        height: calc(100vh - 110px) !important;
    }
    
    .home #showcase .align-text-bottom.slide1-corona > .container .slide-content {
        padding-top: 10px !important;
        padding-bottom: 50px !important;
    }

    .home #showcase .item {
        height: calc(100vh - 110px) !important;
    }

    .edit-product-img img {
        width: 360px !important;
    }
    .single-campaign-edit-wrapper h1 {
        font-size: 24px;
    }
    .single-campaign-edit-wrapper .campaign-edit .zmdi {
        top: 25px;
        right: 40px;
    }
    .campaign-edit .zmdi{
        top: 25px;
        right: 155px;
    }
    .campaign-edit-title .zmdi {
        top: 25px;
       right: 45px; 
    }
    .single-campaign-details-block .product-card{
        margin-bottom: 15px;
    }
    .single-campaign-details-block .product-cards-wrapper {
        text-align: center;
        margin-left: 0px !important;
    }
    .single-campaign-new-wrapper #page-title {
        padding-top: 60px !important;
        min-height: 50px;
    }
    #page-title .campaign-title-edit{
        font-size: 28px;
    }
    .single-campaign-new-chnages-wrapper #page-title h1{
        font-size: 20px;     
        line-height: 28px;
    }
    .mini-menu {
        z-index: 999999;
    }
    .showcase-sticker-home:after {
        top: 50px;
        background-size: 100px;
        background-position: right top;
    }
    .home #showcase .btn{
        height: 40px;
        line-height: 40px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .slide7 {
        background-size: calc(240vh - 300px)auto !important;
        background-repeat: no-repeat !important;
    }
    .slide8 {
        background-image: url("../images/showcase-ndtv-mobile.jpg") !important;
    }
    .slide9 {
        background-image: url("../images/2-showcase-ndtv-mobile.jpg") !important;
    }
    .slide10 {
        background-image: url("../images/3-showcase-ndtv-mobile.jpg") !important;
    }

    .user-dropdown-notification .mini-cart{
        width: 100vw !important;
        position: fixed;
        left: 0;
        top: 50px;
    }
    .user-dropdown-notification.open > .dropdown-menu{
        margin-top: 0px;
    }
    .user-dropdown-notification .mini-cart:after{
        display: none;
    }
	.user-dropdown-loggedin .dropdown-toggle, .not-logged-in .dropdown-toggle {
        margin-right: 0;
    }
    .navbar-v2 .cart-wrapper-main .mini-cart{
        width: 100vw !important;
        position: fixed;
        left: 0;
        top: 50px;
        margin-top: 0px;
    }
    .navbar-v2 .dropdown-menu.open > .dropdown-menu{
        margin-top: 0px;
    }
    .navbar-v2 .cart-wrapper-main .mini-cart:after{
        display: none;
    }
	.user-dropdown-loggedin .dropdown-toggle, .not-logged-in .dropdown-toggle {
        margin-right: 0;
    }
    .scroll-to-top-v2 {
        bottom: 120px !important;
    }
   .daan-utsav-single-campaign #copyrights {
        margin-bottom: 105px;
    }
    .single-campaign-edit .add-btn {
        right: 0px;
    }
    #campaign-updates-wrapper .add-btn{
        top: 45px;
    }
    .item-days-left .donation.quantity .form-control {
        height: 50px;
    }
}

@media only screen and (max-width: 479px) {
    #top-menu .nav.or-top-navbar>li>a {
        padding: 10px 3px;
    }

    .daan-utsav-single-campaign .product-social-wrapper .btn-icon-text,
    .single-campaign .single-campaign-social-wrapper .btn-icon-text {
        min-width: 180px;
    }

    .daan-utsav-single-campaign .btn-icon,
    .single-campaign .btn-icon {
        margin: 0 1px;
    }

    #showcase .btn-lg {
        font-size: 12px;
    }

    .daan-utsav-cart-info-wrapper .product-card .item-cost {
        font-size: 16px;
    }

    .daan-utsav-cart-info-wrapper .product-card .item-cost .inr-lg:after,
    .daan-utsav-cart-info-wrapper .product-card .item-cost .usd-lg:after {
        height: 12px;
        width: 8px;
    }

    .item-stats-right.is-not-numbers-completed .product-add-to-cart .btn {
        margin-top: 20px;
        margin-left: 8px;
    }
}

@media only screen and (max-width: 580px) {
    /* .carousel-indicators {
		bottom: -6px;
    } */

    #showcase .align-text-bottom > .container .slide-content{
        padding-top: 10px !important;
        padding-bottom: 50px !important;
    }
    .home #showcase .align-text-bottom.slide1-corona > .container .slide-content {
        padding-top: 10px !important;
        padding-bottom: 50px !important;
    }
    .daan-utsav-main #showcase .item, #showcase .item .container{
        height: calc(100vh - 110px) !important;
    }
    .home #showcase .btn,
    .daan-utsav-main #showcase .btn {
        margin: 10px 0;

    }
    .select-file .select-file-label:after {
        right: 150px;
    }
    .single-campaign-edit-wrapper .campaign-edit .zmdi {
        top: 75px;
        right: 16px;
    }
    .campaign-edit-title .zmdi {
        top: 75px;
        right: 195px;
    }
    .item-days-left .form-control{
        height: 50px !important;
    }
   
}
@media screen and (max-width: 645px) {
    .home #showcase .btn,
    .daan-utsav-main #showcase .btn {
        margin: 10px 0;   
    }
}

@media screen and (max-width: 1400px) {
    .daan-utsav-single-campaign .product-image {
        height: 140px;
    }
}
@media screen and (max-width: 480px) {
    .campaign-edit-title .zmdi {
        top: 75px;
        right: 70px;
    }
    .modal-campaign .form-group-btn .btn {
        width: 114px !important;
    }
    .modal-campaign .from-element-width {
        margin-left: 25px !important;
    }  
}
@media screen and (max-width: 1199px) {
    .daan-utsav-cart-info-wrapper {
        text-align: center;
    }

    .daan-utsav-cart-info-wrapper .product-card {
        margin: 15px auto;
    }

    .daan-utsav-single-campaign #product-card-wrapper.hidden-sm {
        display: none;
    }
   .daan-utsav-single-campaign .matching-info-box {
        max-width: 650px;
        margin: 0 auto;
    }
    .navbar-white-area.navbar-default .navbar-nav > li > a, .navbar-v2.navbar-default .navbar-nav > li > a {
        padding: 10px 8px !important;
    }
}
@media screen and (max-width: 1190px) {
    .sidemenu-element-donor .nav-tabs > li > a {
        padding: 10px;
        font-size: 16px;
    }
    .product-card.is-obtained{
        margin: 5px auto;
    }
}

@media screen and (max-width: 1300px) {
    .modal-campaign .form-group-btn .btn {
        height: 50px;
        width: 174px;
    }
}
@media screen and (max-width: 380px) {
    .modal-campaign .form-group-btn .btn {
        width: 103px !important;
    }
    .nav-user .dropdown-menu{
        min-width: 120px;
    }
    .nav-pills .login-link a{
        font-size: 10px;
        padding: 12px 10px;
    }
}
@media only screen and (max-width: 600px) {
    .modal-my-profile, .modal-campaign {
        max-width: 500px !important;
    }
    .modal-campaign .form-group-btn .btn {
        width: 143px;
    }
    .select-file-product-upload-icon .select-file-label:after {
        right: 220px;
    }
    .modal-campaign .from-width {
       width: 200px;
    }
    .modal-campaign .from-element-width{
       /* width: 200px;*/
        margin-left: 34px;
    }
}
@media only screen and (max-width: 360px) {
    .modal-campaign .from-width {
    width: 130px !important;
    }
    .modal-campaign .from-element-width{
        width: 130px !important;
    }
    .select-file-product-upload-icon .select-file-label:after {
        right: 150px;
    }   
    .modal-campaign .form-group-btn .btn {
        width: 96px !important;
    }
}
@media only screen and (max-width: 414px) {
    .modal-campaign .from-width {
        width: 166px;
    }
}
@media only screen and (max-width: 1047px) {
    .navbar-white-area .navbar-collapse, .navbar-v2 .navbar-collapse {
        width: calc(100% - 476px);
    }
}
@media only screen and (max-width: 1017px) {
    .navbar-white-area .navbar-collapse, .navbar-v2 .navbar-collapse{
        width: calc(100% - 478px);
    }
}
@media only screen and (max-width: 1366px) {
    .navbar-white-area.navbar-default .navbar-nav > li > a, .navbar-v2.navbar-default .navbar-nav > li > a {
        padding: 10px;
    }
}
@media only screen and (max-width: 1276px) {
    .navbar-white-area .navbar-collapse, .navbar-v2 .navbar-collapse {
        width: calc(100% - 550px);
    }
}
@media only screen and (min-width: 992px) and (max-width: 1046px) {
    .navbar-white-area .navbar-collapse, .navbar-v2 .navbar-collapse {
        width: calc(100% - 495px);
    }
}
@media only screen and (max-width: 766px) {
    .btn-primary.btn-outline:hover, .btn-primary.btn-outline:active, .btn-primary.btn-outline:focus {
        color: #F67506 !important;
        background: transparent !important;
    }
} 