.bs-wizard-wrapper{
	border-bottom: 0;
	margin: 70px 0;
}
.bs-wizard-wrapper> .bs-wizard-step {
    padding: 0;
    position: relative;
}

.bs-wizard-wrapper> .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
}
.bs-wizard-wrapper> .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 5px;
    box-shadow: none;
    margin: 20px 0;
}
.bs-wizard-wrapper> .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}
.bs-wizard-wrapper> .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #2fc816;
}
.bs-wizard-wrapper> .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #2fc816;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}
.bs-wizard-wrapper> .bs-wizard-step > .bs-wizard-dot::after {
    content: " ";
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-image: url(../images/check-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
}
.bs-wizard-wrapper> .bs-wizard-step:last-child > .progress {
    width: 50%;
}
.bs-wizard-wrapper> .bs-wizard-step.active > .progress > .progress-bar {
    width: 50%;
}
.bs-wizard-wrapper> .bs-wizard-step:first-child > .progress {
	left: 50%;
	width: 50%;
}
.bs-wizard-wrapper> .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}
.bs-wizard-wrapper> .bs-wizard-step.disabled > .bs-wizard-dot::after {
    opacity: 0;
}
.bs-wizard-wrapper> .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}
.bs-wizard-wrapper> .bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
    padding: 0 10px;
}
.bs-wizard-step.complete .bs-wizard-info, .bs-wizard-step.active .bs-wizard-info, .bs-wizard-step.complete .bs-wizard-stepnum, .bs-wizard-step.active .bs-wizard-stepnum {
    color: #333;
}
.bs-wizard-info p{
	letter-spacing: 0;
}
@media only screen and (max-width: 767px) {
	.bs-wizard-info p {
		line-height: 16px;
		font-size: 13px;
	}
	.bs-wizard-info h3 {
		font-size: 14px;
    }
    .single-campaign-edit-inline #campaign-updates .action-btns-wrapper{
        right: 12px !important;
    }
    .single-campaign-edit-inline .single-campaign-card .action-btns-wrapper {
        right: -10px !important;
    }
    .single-campaign-edit-inline .single-card-right{
        display: block;
    }
}

.single-campaign-edit-inline #products-tab-panel .product-image{
    margin-bottom: 10px;
}
.single-campaign-edit-inline .item-stats-right .stt-need {
    padding: 0px !important;
}
.single-campaign-edit-inline #product-cards-wrapper .product-add-to-cart {
    margin-bottom: 10px !important;
}
.single-campaign-edit-inline .item-stats-right .stt-need .stat-figure{
    display: inline-block;
}
.single-campaign-edit-inline #products-tab-panel .product-description p{    
    color: #333;
}
.single-campaign-edit-inline #campaign-updates .update-content{
    padding: 15px;
}
.single-campaign-edit-inline #campaign-about-wrapper .campaign-about-content-wrapper {
    padding: 15px;
}
.single-campaign-edit-inline .product-card .product-title h3{
    margin-top: 10px;
}
#products-tab-panel .select-file,
.campaign-image .select-file{
    content: '';
    display: block;
    background-image: url("../images/upload-icon.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    box-shadow: 0px 4px 10px rgba(214, 218, 233, 0.6);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    bottom: 40px;
    cursor: pointer;
}
#products-tab-panel .select-file .select-file-label,
.campaign-image .select-file .select-file-label{
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
}
.campaign-image .select-file{
    position: absolute !important;
    bottom: 0px !important;
    right: 0px !important;
}
#campaign-updates .cke_editable {
    background: rgba(0,0,0,0.04);
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.1);
}
.corona-cat-loc-btn-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
    padding: 15px;
    left: 0;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    text-align: center;
}
*[contenteditable="true"]{
    background: rgba(0,0,0,0.04);
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.1);
}

.single-campaign-edit-inline .campaign-title-wrap .form-control{
    display: inline-block;
    margin-right: 20px;
}
.single-campaign-edit-inline .campaign-title-wrap .zmdi{
    font-size: 20px;
}
.action-btns-wrapper{
}
.action-btns-wrapper .btn-edit{
    width: 40px;
    text-align: center;
    color: #ffffff;
    background: #FFC107;
    display: inline-block;
    height: 40px;
    font-size: 16px;
    border-radius: 50%;
    line-height: 40px;
}
.action-btns-wrapper .btn-edit .zmdi{
    color: #fff;
    line-height: 38px;
}
.action-btns-wrapper .btn-save{
    width: 40px;
    text-align: center;
    color: #ffffff;
    background: #4BAE4F;
    display: inline-block;
    height: 40px;
    font-size: 16px;
    border-radius: 50%;
    line-height: 40px;
}
.action-btns-wrapper .btn-save .zmdi{
    color: #fff;
    line-height: 38px;
}
.single-campaign-edit-inline .campaign-about-content-wrapper{
    position: relative;
}
/* .single-campaign-edit-inline #about-campaign .btn-edit{
    position: absolute;
    top: 0px;
    right: 0px;
} */

.single-campaign-edit-inline #campaign-updates .action-btns-wrapper{
    position: absolute;
    top: 10px;
    right: 34px;
}
/* .single-campaign-edit-inline #about-campaign .btn-save{
    position: absolute;
    top: 0px;
    right: 0px;
} */
.single-campaign-edit-inline #about-campaign .edit-content-wrap {
    position: relative;
}
.single-campaign-edit-inline #about-campaign .action-btns-wrapper {
    position: absolute;
    top: -50px;
    right: 35px;
}
.single-campaign-edit-inline #product-cards-wrapper .action-btns-wrapper{
    position: absolute;
    top: 15px;
    right: 15px;
}
.single-campaign-edit-inline .single-campaign-card .action-btns-wrapper{
    position: absolute;
    top: -15px;
    right: -20px;
}
.single-campaign-edit-inline .single-campaign-card .campaign-details-wrap textarea{
    height: 120px;
    resize: none;
}
.single-campaign-edit-inline .single-campaign-card .single-stat.stat-days-left .form-group{
    width: 50px;
    margin: 0 auto;
}
.single-campaign-edit-inline .single-campaign-card .campaign-details-wrap{
    margin-top: 20px;
}