
/* Single Campaign Daan Utsav CSS */

.promoters-details-btn-wrapper .btn{
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
}
.promoters-details-btn-wrapper .zmdi{
    font-size: 24px;
    line-height: 26px;
    padding-left: 10px;
    vertical-align: middle;
}
.promoters-details-btn-wrapper{
    max-width: 400px;
    margin: 0 auto 25px auto;
    width: 100%;
}
.backer .item-cost {
    padding: 0px;
}
/*#singlecampaignupdate .upload-image-wrapper .select-file {
    bottom: -15px !important;
    right: -18px !important;
    left: unset;
}*/
#singlecampaignupdate img {
    margin: 0px !important;
}
#singlecampaignupdate .img-text {
    font-size: 13px;
    max-width: 100px;
    display: block;
}
#singlecampaignupdate .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}
#singlecampaignupdate .table > tbody{
    border-bottom: 1px solid #D3D3D3;
}
#singlecampaignupdate .table > thead > tr > th {
    border-bottom: 1px solid #D3D3D3;
    font-weight: normal;
}
.success-content-wrapper{
    max-width: 275px;
    margin: 20px auto;
}
.success-content-wrapper span{
    display: block;
    text-align: center;
}
.success-content-wrapper .success-icon{
    font-size: 28px;
    text-transform: uppercase;
    color: #2FC817;  
}
.success-content-wrapper .success-text{
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #2FC817;
}
.success-content-wrapper .supporting-campaign-text{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
}
.success-content-wrapper .supporting-campaign-link{
    padding-top: 18px;
}
.sub-campaign-appeal-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sub-campaign-appeal-img-wrapper{
    max-width: 180px;
    padding: 15px 0px;
    width: 100%;
    text-align: center;
}
/*.sub-campaign-appeal-img-wrapper{
    position: relative;
}
.sub-campaign-appeal-user-img{
    position: absolute;
    top: 10px;
    left: 10px;
}*/
.promoters {
    margin: 20px 0px 0px 0px !important;
}
.sub-campaign-appeal-content-txt-wrapper{
    padding: 15px;
}
.sub-campaign-appeal-user-name{
    font-weight: bold;
    padding-top: 5px;
}
.sub-campaign-appeal-user-img img{
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: 100%;
}
#sub-campaign-appeal-wrapper{
    background: #FFE3CB;
    padding: 20px;
    margin-bottom: 25px;
    position: relative;
}
#sub-campaign-appeal-wrapper .campaign-edit-btn {
    top: -20px;
    right: -25px;
    box-shadow: 0px 10px 20px rgba(17, 17, 17, 0.1);
}
.sub-campaign-appeal-quote{
    width: 35px;
    background-repeat: no-repeat;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 35px;
    position: absolute;
    top: -12px;
    left: 12px;
}
.sub-campaign-appeal-text{
    padding-left: 60px;
    text-transform: uppercase;
}
.sub-campaign-appeal-quote-wrapper{
    position: relative;
}
.sub-campaign-wrapper .product-card .campaign-edit-title{
    top: -19px;
    right: -29px;
    box-shadow: 0px 10px 20px rgba(17, 17, 17, 0.1);
}
.sub-campaign-wrapper #page-title .campaign-edit-btn {
    right: 210px;
    box-shadow: 0px 10px 20px rgba(17, 17, 17, 0.1);
}
.sub-campaign-wrapper #page-title h1{
    padding: 0 65px 0 45px;
}
.sub-campaign-wrapper #page-title .title-edit-btn-wrapper{
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.sub-campaign-wrapper #page-title .title-edit-btn-wrapper .sub-campaign-edit-btn {
    text-align: center;
    color: #ffffff;
    background: #FFC107;
    display: inline-block;
    height: 40px;
    font-size: 18px;
    border-radius: 50%;
    margin-right: 15px;
    line-height: 24px;
    width: 40px;
    position: absolute;
    top: 2px;
    right: 0px;
}
.sub-campaign-wrapper #page-title .title-edit-btn-wrapper .sub-campaign-edit-btn .zmdi {
    color: #fff;
    line-height: 38px;
}
#singlecampaignupdatesuccess .form-control{
    border-right: 0;
}
#singlecampaignupdatesuccess .input-group-addon {
    padding: 14px;
    font-size: 20px;
}
.single-product-campaign-updated.stick-scroll-menu #campaignTabs, .sub-campaign-wrapper.stick-scroll-menu #campaignTabs{
    max-width: 750px;
}
.promotions-btn-wrapper .promoters-details-btn-wrapper .btn-md {
    padding: 16px 20px;
}
.from-group-btn-success .btn-support{
    width: 250px !important;
}
.view-more-btn-wrapper .btn{
    min-width: 170px !important;
}
@media only screen and (max-width: 767px) {
    #singlecampaignupdate .table-responsive {
        border: 0;
    }
    .sub-campaign-wrapper #page-title .title-edit-btn-wrapper .sub-campaign-edit-btn {
        top: -45px !important;
        right: 0px !important;
    }
    .single-product-campaign-updated #single-campaign-details .nav-tabs > li {
        width: 24.33%;
        text-align: center;
    }
    #singlecampaignupdatesuccess .form-control {
        height: 50px;
    }
    #singlecampaignupdatesuccess .daan-utsav-single-campaign .product-social-wrapper {
        border-top: 0;
        border-bottom: 0;
    }
    .modal-sub-campaign .btn {
        line-height: 29px;
    }
    .promoters-details-btn-wrapper .btn{
        font-size: 16px;
        text-align: center;
    }
}
@media only screen and (max-width: 600px){
    .modal-my-profile, .modal-campaign {
        width: calc(100vw - 30px) !important;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 480px) {
    .modal-campaign .from-group-btn-success .btn-support{
        width: 250px !important;
    }
    .promoters-details-btn-wrapper .btn {
        font-size: 14px;
    }
}
