body{
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
}
.certificate-donation{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
}
.certificate-donation-date{
    float: right;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
}
.page-content{
    padding: 0px 60px;
}
.number-section{
    vertical-align: super;
    font-size: 12px;
}
.footer-text{
    color: #333333;
}
.content-wrapper{
    border-bottom: 0px;
    height: 100%;
    position: relative;
    padding-bottom: 135px;
    min-height: 800px;
} 
.certificate-signature p{
    line-height: 8px !important;
}
.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-uppercase{
    text-transform: uppercase;
}

h1, h2, h3, h4, h5 , h6{
    font-weight: normal;	
}

.margin-left{
    margin-left: 10px !important;
}

.margin-right{
    margin-right: 10px !important;
}
.margin-bottom{
    margin-bottom: 20px;
}
.padding{
    padding: 15px;
}

.border-grey-left{
    border-left: 1px solid #d2d2d2;
}

.border-grey-bottom{
    border-bottom: 2px solid #f2f2f2;
}

.header{
    margin: 0 auto;
    border-bottom: 2px solid #333333;
}
.footer{
    padding-top: 4px;
    margin: 0 auto;
}
.header h3, .footer h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}
.header h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
}
.header h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;

}
.header > div{
    display: inline-block;
    vertical-align: middle;
}
.header-details h1{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 28px;
}
.header .image-wrapper {
    padding: 0px;
    width: 250px;
    margin: 0 auto;
    max-width: 100%;
}
.header .middle-header {
    width: 100%;
    margin-top: 50px;
}
.image-only{
    background: #ffffff;
    padding: 0px 0px 5px;
    text-align: center;
}
small{
    font-weight: normal;
    font-size: 8px;
    padding: 0px;
}
.no-data, .text-only{
    background: #ffffff;
    text-align: left;
    padding: 5px;
}

.no-padding{
    padding: 0 !important;
}

.no-padding-left{
    padding-left: 0 !important;
}

.no-padding-right{
    padding-right: 0 !important;
}

.valign-top{
    vertical-align: top !important;
}

.padding-left{
    padding-left: 5px !important;
}

.padding-right{
    padding-right: 5px !important;
}
.section-wrapper p{
    font-size: 16px;
    line-height: 24px;
}
.inner-text p{
    line-height: 14px !important;
}
.section-header{
    font-size: 13px;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}
.section-header:before,
.section-header:after{
    content : "" ;
    height : 4px ;
    display : block ;
}
.section-header .fa{
    margin-right: 5px;
}
.header-description {
    font-size: 10px;
    font-weight: initial;
    position: relative;
    font-style: italic;
}
/*Additional CSS for PDF*/
.section-comments table thead { display: table-row-group; }
/* .page-content,
.section-wrapper,
.section-header,
.section-info, */
/* tr,
.section-comments table {
    page-break-inside: avoid !important;
} */

tr{
    page-break-inside: avoid !important;
}

table thead tr th:before,
table thead tr th:after {
    content : "" ;
    height : 4px ;
    display : block ;
}

table tbody tr td:before,
table tbody tr td:after {
    content : "" ;
    height : 4px ;
    display : block ;
}
/* END of Additional CSS for PDF */

.page-break{
    page-break-after: always;
}
.section-2-col > .col{
    display: inline-block;
    vertical-align: top;
    width: 48%;
}
.section-2-col > .col:first-child{
    margin-right: 2%;
}
.section-2-col > .col:nth-child(2){
    margin-left: 2%;
}
.footer-section{
    padding: 60px 60px 0 60px;
}
.footer-section p{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
.footer-info{
    color: #333333;
    font-size: 18px;
    border: 0px;
    margin: 0px;
}
.footer-info a{
    color: #0000EE;
    text-decoration: underline;
}
.website-link{
    float: right;
}
.donation-certficate-info{
    margin-top: 40px;
    margin-bottom: 40px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #333333;
    text-align: left;
    padding: 8px;
}
.has-border{
    margin: 0 auto;
    border-bottom: 1px solid #333333;
    width: 100%;
}
a{
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer;
}
.footer-info-section p{
    text-align: center;
}
.detail-donation-wrapper p{
    margin: 0px;
}
.section-note{
    font-style: italic;
}